* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

.montserrat {
    font-family: 'montserrat', sans-serif;    
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: white;
}

.items-center {
    align-items: center;
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.capitals {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

/* --- nav --- */

.logo {
    height: 30px;
    margin: 0 5px;
    width: auto;
}

.logo-title {
    color: #555555;
    font-size: 20px;
    letter-spacing: -0.45;
}

.top {
    height: 115px;
    justify-content: space-between;     
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px; 
}

nav li {
    display: inline;
    list-style-type: none;   
}

.menu, .mobile-nav a {
    color: #777777;
}

.menu {
    font-size: 14px;
    padding: 0 15px;
}

.menu:hover, .mobile-nav a:hover {
    color: black;
}

/* --- hamburger menu ---*/

.hamburger-icon {
    background-color: transparent;
    border: 0;
    border-top: 5px solid #555555;
    display: none;
    height: 25px;
    position: relative;
    right: 10px;
    top: 10px;
    width: 40px; 
}

.hamburger-icon::before, .hamburger-icon::after {
    border-top: 5px solid #555555;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(5px);
    width: 100%;
}

.hamburger-icon::after {
    transform: translateY(15px);
}

.mobile-nav {
    background-color: white;
    display: inline-block;
    height: 100vh;
    position: absolute;
    right: 0;
    text-align: center;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    width: 70%;
}

.mobile-nav a {
    display: block;
    font-size: 17px;
    padding: 10px 0;
}

.hamburger-icon:focus ~ .mobile-nav {
    transform: translateX(0);
}

/* --- digital-solutions --- */
    
section {
    margin-top: 50px;
}

header section {
    margin-top: 0;
}

.dark {
    background-color: rgb(0, 0, 0, 0.7);
    height: 100%;
}

.background-1 {
    background-image: url(images/Background.png);
    background-size: cover;
}

.digital-solutions {  
    height: 530px; 
    width: 100%;
}

.digital-solutions .title {
    font-size: 60px;
    margin: 0 10px;
}

.title {
    font-family: 'montserrat', sans-serif; 
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;
    text-transform: uppercase;   
}

.subtitle {
    color: darkgray;
    font-size: 20px;
    letter-spacing: -0.5px;
}

.digital-solutions .subtitle {
    margin: 10px 0;
}

.section-a {
    background-color: #7cc576;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 3%;
    padding: 25px 57px;
    transition: background-color, color, .2s linear;
}

.section-a:hover {
    background-color: white;
    color: #7cc576;
}

/* --- services --- */

.services .subtitle {
    margin-top: 10px;
}

.services .section-container {
    margin-top: 30px;
    width: 80%;
}

.services img {
    height: 60px;
    width: auto;
}

.services h4 {
    margin: 15px;
}

.services div p {
    color: darkgrey;
    margin: 0 15px;
    width: 90%;
}

/* --- relax --- */

.relax {
    height: 600px;
    width: 100%;
}

.relax .section-container {
    background-color: #E3E3E3;
    float: left;
    height: 100%;
    position: relative;
    width: 30%;
    z-index: 1;
}

.gear {
    height: 70%;
    position: absolute;
    right: -190px;
    top: 50%;
    transform: translateY(-50%);
}

.background-2 {
    background-image: url(images/Background2.png);
    background-size: cover;   
    float: left;
    height: 100%; 
    position: relative;
    width: 70%;
    z-index: 2;
}

.checkmark {
    border: 1.5px solid lightgrey;
    border-radius: 50px;
    height: 20px;
    margin: 0 15px 7px 0;
    padding: 5px;
    width: 20px;
}

.checkmark-text {
    font-size: 20px;
}

.relax .title {
    color: white;
    font-size: 55px;
    text-align: left; 
}

.background-2 .section-content {
    padding: 5%;
    width: 95%;
}


.background-2 .subtitle {
    margin: 40px 0;
}

.green {
    color: #7cc576;
}

/* --- projects --- */

.projects {
    margin-left: 5%;
}

.projects .title, .projects .title {
    font-size: 36px;
}

.projects .subtitle {
    padding-bottom: 30px;
}

.projects h3 {
    margin: 10px 0 10px 0;
}

.projects .section-container {
    flex: 1;
    margin-left: 15%;
}

.projects-icon {
    float: left;
    height: 65px;
    padding-right: 10px;
    width: auto;
}

.icon-div {
    padding: 12px 0 12px 0;
}

.icon-div h4 {
    font-size: 20px;
}

.gray {
    color: darkgray;
}

.ipad {
    height: 100%;
    width: auto;
}

.ipad-div {
    display: flex;
    flex: 1.5;
    overflow: hidden;
}

.arrow {
    margin: 20px 0 0 5px;
}

.projects a:hover {
    text-decoration: underline;
}

.font-medium {
    font-size: 18px;   
}

/* --- culture & values --- */

.culture_values {
    background-color: #f9f9f9;
}

.culture_values .title {
    font-size: 50px;
    padding: 50px 0 10px 0;
}

.culture_values .subtitle {
   font-size: 25px;
}

.culture_values .section-container {
    height: auto;
    margin: 50px auto;
    max-width: 1200px;
    padding-bottom: 50px;
}

.culture_values-icon {
    height: 100px;
    width: auto;
}

.culture_values div {
    padding: 0 10px;
}

.culture_values h4 {
    font-size: 20px;
    margin: 20px 0;
}

.culture_values-middle {
    position: relative;
}

.line::before, .line::after {
    background-color: darkgrey;
    content: '';
    height: 2px;
    left: -115px;
    position: absolute;
    top: 20%; 
    width: 230px;
}

.line::after {
    left: auto;
    right: -115px;
}

/* --- clients --- */

.clients {
    margin: 0 10%;
}

.clients .title, .contact .title {
    font-size: 40px;
}

.clients .subtitle {
    font-size: 20px;
    margin-top: 10px;
}

.clients .comment {
    background-color: #f0f0f0; 
    border-radius: 20px;
    line-height: 28px;
    margin: 10px 25px;
    padding: 40px;
    position: relative;
}

.arrow-left::before, .arrow-right::after {
    border-bottom: 20px solid transparent;  
    border-top: 20px solid transparent;
    content: '';
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    top: 50%; 
}

.arrow-left::before {  
    border-right: 20px solid #f0f0f0;    
    left: -20px;     
}

.arrow-right::after {   
    border-left: 20px solid #f0f0f0;    
    right: -20px;
     
}

.clients .comment p:first-child {
    color:  #777777;
    font-size: 27px;
}

.clients .green {
    padding-top: 15px;
    text-align: center;
}

/* --- contact --- */

.contact {
    background-color: #7cc576;
    padding-bottom: 80px;
}

.contact .title {
    line-height: 49px;
    padding: 40px;
}

.contact a {
    border: 3px solid white;
    border-radius: 7px;
    padding: 13px;
    transition: background-color, color, .2s linear;
}

.contact a:hover {
    background-color: white;
    color: #7cc576;
}

/* --- other-logo --- */

.logo-image {
    height: 13%;
    margin: 30px 50px;
    width: 13%;
}

/* --- footer --- */

.top-footer {
    background-color: #222222;
    height: 100%;
    margin-top: 50px;
    padding: 50px 20px;
}

.top-footer div {
    align-items: baseline;
    height: 50%;
    margin-left: 7%;
    width: 300px;
}

.top-footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.top-footer img {
    height: 20px;
    margin-right: 15px;
    width: auto;
}

.top-footer .footer-icon {
    height: 28px;
    width: auto;
}

.top-footer p {
    margin: 7px 0;
}

.flex-start {
    align-items: flex-start;
}

.twitter {
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
}

/* --- bottom footer --- */

.bottom-footer {
    height: 70px;
    padding: 0 10px;
    width: 62%;
}

.footer-icon {
    height: 45px;
    width: auto;
}

.bottom-footer p {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600;
}

/* --- mobile --- */

@media (max-width: 1240px) {
    .culture_values h4 {
        font-size: 18px;
    }

    .line::before, .line::after {
        left: -90px;
        width: 180px;
    }

    .line::after {
        left: auto;
        right: -90px;
    }

    .projects .section-container {
        margin-left: 0;
    }
}

@media (max-width: 960px) {   
    .relax .title {
        font-size: 45px;
    }

    .ipad-div {
        display: none;
    }

    .projects .section-container {
        padding-right: 10%;
    }
    
    .line::before, .line::after {
        left: -75px;
        top: 19%;
        width: 150px;
    }

    .line::after {
        left: auto;
        right: -85px;
    }
}

@media (max-width: 860px) {
    .line::before, .line::after {
        left: -52px;
        top: 16%;
        width: 100px;
    }

    .line::after {
        left: auto;
        right: -52px;
    }
    
    .logo-image {
        margin: auto 20px;
        width: 20%;
    }
    
    .clients .comment {
        padding: 15px;
    }
    
    .clients .comment p:first-child {
        font-size: 18px;
    }
    
    .clients .green {
        font-size: 14px;
    }
}

@media (max-width: 768px) {     
    .top {
        background-color: white;
        height: 60px; 
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
    
    .logo-div, .hamburger-icon {
        left: 10px;
        position: fixed;
        top: 15px;
        z-index: 3;
    }
    
    .hamburger-icon {
        display: block;
    }
    
    .hamburger-icon {
        left: auto;
    }
    
    nav ul, .menu {
        display: none;
    }

    .bottom-footer {
        width: 80%;
    }  

    .top-footer {
        align-items: center;
        flex-direction: column;
    }
    
    .top-footer div {
        margin: 40px 0 0 0;
        width: 50%;
    }
    
    .top-footer h4{
        text-align: center;
    }

    .line::before, .line::after {
        left: -46px;
        top: 14%;
        width: 90px;
    }

    .line::after {
        left: auto;
        right: -46px;
    }
}

@media (max-width: 645px) {
    .services .section-container, .culture_values .section-container {
        flex-direction: column;
    }

    .srvices div, .culture_values div, .circle {
        margin-top: 20px;
    }

    .relax .section-container, .line::before, .line::after {
        display: none;
    }
    
    .background-2 {
        width: 100%;
    }

    .client {
        flex-direction: column;
    }    

    .client:last-child {
        flex-direction: column-reverse;
    }
        
    .arrow-left::before {  
        left: 50%;
        margin-left: -10px;
        top: 0;
        transform: rotate(90deg);          
    } 
    
    .arrow-right:after {
        margin-right: -10px;
        right: 50%;
        top: 0;
        transform: rotate(-90deg);         
    }
    
    .bottom-footer {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .digital-solutions .title {
        font-size: 50px;
    }
    
    .other-logo {
        flex-direction: column;
    }
    
    .logo-image {
        margin: 20px 0;
        width: 40%
    }
    
    .bottom-footer p {
        font-size: 10px;
    }
    
    .footer-icon {
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .bottom-footer {
        flex-direction: column-reverse;
        height: 100px;
    }    
}

@media screen and (max-width: 360px) {
    .section-a {
        font-size: 14px;
        padding: 25px 25px;
    }
    
    .relax .title {
        font-size: 38px;
    }
    
    .culture_values .subtitle {
        font-size: 22px;
    }
}